[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/etcd/data
EnvironmentFile=/usr/local/etcd/etcd.conf
ExecStart=/usr/local/etcd/etcd

[Install]
WantedBy=multi-user.target

# systemctl daemon-reload
# systemctl enable etcd.service
# systemctl start etcd.service
# etcdctl cluster-health
